body{
    font-family: 'Oswald', sans-serif;
    
}
h1{
    font-size: 50px;
}

.half-width img{
    width: 80%;
}
.half-width{
    float: left;
    margin-left: 7% ;
    padding-left: 3% ;
    width: 40% ;
}

.button-design{
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    /* color: bisque; */
    font-weight: 800;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;    
}
section{
    height: 500px;   
}
.upper-part{
    background-size: 90%;
    background-position: center;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;   
    margin: 0%; 
}

.middle-part{    
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.lower-part{
    height: 500px;
}
.resize{
    padding: 25px;
}